/* font-family: 'Roboto Serif', serif; */
body {
    background-color:#7bcfea ;
    box-sizing: border-box;
    color:white;
}
h1{
    font-family: 'Roboto Serif', serif;
    text-align: center;
}

.green{
    color:#29cb9b;
}

div {
    border: 4px solid #29cb9b;
    margin: 0 auto;
    padding:40px;
    max-width: 70vh;
}
img {
    width:30%;
    height: 40%;
    float:right;
}
p {
    text-align: left;
}
.red{
    color:red;
}
nav{
    text-align: center;
}
footer {
    text-align: center;
}
a {
     text-decoration: none;
}
span {
    color:white
}